/*div, form, table {
	border: 1px solid black ;
}*/

input,select {
	border-radius: 5px;
}

.navbar-default {
  background-color: #F44100;
  border-color: #E7E7E7;
}

.navbar-default .navbar-brand {
  color: #FFF;
}

.jumbotron{
	background-color: beige;
}

/*.tem_a{
	color:green;
	font-weight:bolder;
}*/


body{
	background-color:beige;;
	margin-top: 80px;
}


.no_padding{
	padding: 0px 0px;
}
.no_margin{
	margin:0px 0px;
}

.npm {
	padding: 0px 0px;
	margin:0px 0px;
}


.signin-area{
border-style:solid;
border-left-width:1px;
border-top-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-color:#E5E5E5;
}

.login-title, .signin-title{
    
    margin-bottom: 20px;
    margin-top: 5px;

}

.slogan{
	/*height:120px;
	width:660px;*/
	background-color: #75FFD1;
	margin:10px auto;
}

.search{
	width: 800px;
	height: 534px;
	margin:30px auto 0px auto;
	background-color: rgb(224, 239, 255);
	border-radius: 25px;
	/*text-align: center;*/
}

.choose{
	width: 20px;
	height: 20px;	
}

.typechoose{
	font-size: 17px;
}

/*#address{
	width: 250px;
	height: 35px;
}*/

/*#foodtype{
	width: 100px;
	height: 35px
}*/

#pressbutton{
	width: 100px;
	height: 35px	
}

.container1{
	height: 600px;
	width:1230px; 
	margin: auto;
	background-color: rgb(237, 237, 237);
}

.foodmenu{
	height: 500px;
	width: 290px;
	background-color: rgb(250, 250, 250);
	float: left;
}
.col-md-12 {
	margin-bottom: 25px;
}



.menu-title{
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 20px;
	border-bottom: 5px;
	border-bottom-color: rgb(237, 237, 237);
	border-style: solid;
	font-weight: bolder;
	font-size: 17px;

    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;

}

ul{
	padding-left: 20px;
	padding-top: 10px;
}
ul li{
	list-style-type:none;
	margin-bottom: 20px;
}

.businesslist{
	height: 500px;
	width: 910px;
	background-color: #EDEDED;
	float:right;
}

.business{
	margin-bottom: 20px;
	padding-top:15px;
	width: 910px;
	height: 120px;
	background-color: white;
}

.business1{
	margin-left: 20px;
	height: 95px;
	width: 95px;
	float:left;
}

.business-detail{
	height: 95px;
	width: 460px;
	float: left;
}

.business-detail h3{
	padding-right: 10px;
}

.rate-and-button{
	width: 115px;
	float: right;
}

.rate-and-button button{
	border-radius: 4px;
	background-color: #3399FF;
	border-color: #3399FF;
	color:white;
	font-weight: bolder;
	font-size: 15px;
}

.rate-and-button a{
	color:white;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.business_info{
	width: 500px;
	margin: 0px auto;
	 
}

/*.business_info label{
	font-weight: normal;
}

.business_info input{
	margin-bottom: 20px;
	width: 170px;
	height: 25px;
}*/

#b_foodtype{
	margin-bottom: 20px;
	width: 170px;
	height: 25px;
}

/*============ search1.php ===========*/

.business_c_header{
	width: 400px;
    margin-left: 195px;
    margin-top:90px;
    font-weight: 600;
    font-size: 24px;
}


.business_container{
    overflow: auto;
    width: 870px;
    margin:0 auto;
    margin-bottom: 20px;

}

.business_c_logo {
  float: left;
  width: 132px;
}


.business_c_ul{
	margin-top: 10px;
    margin-left: 0px;
    padding-left: 15px;

}

.business_c_ul li{
  list-style-type: none;
  margin-bottom: 10px;
}


.business_c_info{
	float: left;
	width: 300px;
	height: 130px;
}


.business_c_button{
	float:right;
	width: 100px;
  	height: 30px;
}

.business_c_button button{
	 
	width: 100px;
  	height: 30px;
}

.business_c_button a{
	 text-decoration: none;
}

/*==============end of search1.php=========*/



/*============ business_one_show =============*/




/*============ end of  business_one_show =============*/


/*============footer setting=====================*/

#special_a{
	color:white; 
	 
}

.footer{
	height:95px;
	padding-top: 10px;
	background-color: rgb(247, 238, 235);
	border: 3px;
	border-color: black;
	color: rgb(118, 118, 118);
}

.footer a{
	text-decoration: none;
	color: rgb(118, 118, 118);
}

.footer-nav{
	text-align: center;
	list-style: none;
	margin-bottom: 5px;
}

.footer-nav li{
	display: inline;
	padding:0px 10px;
}

.copyright{
	text-align: center;
}


