body{
	background-color:rgb(237, 237, 237);
}


.no_padding{
	padding: 0px 0px;
}
.no_margin{
	margin:0px 0px;
}


.signin-area{
border-style:solid;
border-left-width:1px;
border-top-width:0px;
border-bottom-width:0px;
border-right-width:0px;
border-color:#E5E5E5;
}

.login-title, .signin-title{
    
    margin-bottom: 20px;
    margin-top: 5px;

}

.slogan{
	/*height:120px;
	width:660px;*/
	background-color: #75FFD1;
	margin:10px auto;
}

.search{
	width: 745px;
	margin:30px auto 0px auto;
	text-align: center;
}

.choose{
	width: 20px;
	height: 20px;	
}

.typechoose{
	font-size: 17px;
}

#address{
	width: 250px;
	height: 35px;
}

#foodtype{
	width: 100px;
	height: 35px
}

#pressbutton{
	width: 100px;
	height: 35px	
}

.container1{
	height: 600px;
	width:1230px; 
	margin: auto;
	background-color: rgb(237, 237, 237);
}

.foodmenu{
	height: 500px;
	width: 290px;
	background-color: rgb(250, 250, 250);
	float: left;
}
.col-md-12 {
	margin-bottom: 25px;
}



.menu-title{
	padding-top: 10px;
	padding-bottom:10px;
	padding-left: 20px;
	border-bottom: 5px;
	border-bottom-color: rgb(237, 237, 237);
	border-style: solid;
	font-weight: bolder;
	font-size: 17px;

    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 1px;

}

ul{
	padding-left: 20px;
	padding-top: 10px;
}
ul li{
	list-style-type:none;
	margin-bottom: 20px;
}

.businesslist{
	height: 500px;
	width: 910px;
	background-color: #EDEDED;
	float:right;
}

.business{
	margin-bottom: 20px;
	padding-top:15px;
	width: 910px;
	height: 120px;
	background-color: white;
}

.business1{
	margin-left: 20px;
	height: 95px;
	width: 95px;
	float:left;
}

.business-detail{
	height: 95px;
	width: 460px;
	float: left;
}

.business-detail h3{
	padding-right: 10px;
}

.rate-and-button{
	width: 115px;
	float: right;
}

.rate-and-button button{
	border-radius: 4px;
	background-color: #3399FF;
	border-color: #3399FF;
	color:white;
	font-weight: bolder;
	font-size: 15px;
}

.rate-and-button a{
	color:white;
	font-weight: bold;
	font-size: 15px;
	text-decoration: none;
}

.business_info{
	width: 350px;
	margin: 0px auto;
	text-align: right;
}

.business_info label{
	font-weight: normal;
}

.business_info input{
	margin-bottom: 20px;
	width: 170px;
	height: 25px;
}

#b_foodtype{
	margin-bottom: 20px;
	width: 170px;
	height: 25px;
}
/*============footer setting=====================*/


.footer{
	height:95px;
	padding-top: 10px;
	background-color: rgb(211, 205, 205);
	border: 3px;
	border-color: black;
}

.footer a{
	text-decoration: none;
}

.footer-nav{
	text-align: center;
	list-style: none;
	margin-bottom: 5px;
}

.footer-nav li{
	display: inline;
	padding:0px 10px;
}

.copyright{
	text-align: center;
}


